server:
  host: "0.0.0.0"
  port: 55555

model:
  path: "/home/ai-model/LLM/model/gemma-4-E4B-it-qat-mobile-ct"
  quantization: null
  dtype: "bfloat16"
  gpu_memory_utilization: 0.45
  trust_remote_code: true
  enforce_eager: true

inference:
  # vLLM API fallback defaults (used when client does not specify)
  default_temperature: 0.7
  seed : 5555

sentiment:
  sentence_length_limit : true
  max_string_length : 500
  only_sentiment_output : true

ner:
  ner_tag: "ENTITY, NUMBER, DATE, ORGANIZATION"
  minimum_count: 2

vtt_summuary:
  vtt_summary_req_col: ["Date", "Time", "Text", "TextID"]
  system_instruction_path: /home/api/VLLM_api/VTT_Summary_system_instruction/system_instruction.txt

result_dir: "/home/ai-model/sentiment_by_selfhost_LLM/result"